@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&family=Zeyada&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none; 

}

.register-form-container {
  max-width: 500px;
  width: 90%;
  height: auto;
  margin: auto;
  background: linear-gradient(90deg, #efd5ff 0%, #3639d675 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important;
  padding: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.title-box {
  font-weight: bolder;
  font-family: "Zeyada", cursive;
  text-align: center;
}

.box {
  height: 100vh;
  width: 100%;
  background-image: url("../../public/images/register.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  
  

}


.register-title {
  margin-top:40px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Zeyada", cursive;
}

.register-form-container input,
.register-form-container select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.register-form-container .form-control[type="file"] {
  padding: 8px;
}

.register-form-container .btn-primary {
  font-size: 18px;
  width: 100%;
  padding: 10px;
}

.dropzone {
  width: 80px;
  padding: 10px;
}

.upload-icon {
  width: 60px;
  height: 60px;
}



@media (max-width: 768px) {
  .register-form-container {
    max-width: 90%;
    padding: 15px;
  }

  .box {
    background-size: cover;
    background-position: center;
  }

  .image-box {
    width: 250px;
    height: 180px;
    font-size: 50px;
    text-align: center;
    margin: 10px auto;
  }

  .dropzone {
    width: 80px;
    padding: 10px;
  }

  .upload-icon {
    width: 60px;
    height: 60px;
  }


  .content {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .image-box {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .register-form-container {
    max-width: 100%;
    width: 100%;
    font-size: 20px;
    height: 780px;
    margin-bottom: 50px;
    overflow: hidden;
  }

  .register-title {
    display: block;
    padding: 20px;
    margin: auto;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 40px;
    font-family: "Zeyada", cursive;
    z-index: 10;
  }
  .register-form-container input{
    font-size: 20px;
  }
  .box {
    justify-content: center;
    background-size: cover;
  }

  .image-box {
    width: 200px;
    height: 150px;
    font-size: 40px;
    margin: 5px auto;
  }

  .dropzone {
    width: 70px;
    padding: 5px;
  }

  .upload-icon {
    width: 50px;
    height: 50px;
  }
}
